{{ 'thankyou.css' | asset_url | stylesheet_tag }}

{% style %}
.title {
  color: {{ section.settings.title_color.hex }};
  font-size: {{ section.settings.title_size }}px;
}

.subtitle {
  color: {{ section.settings.subtitle_color.hex }};
}


{% endstyle %}
<div class="thankyou-page-bg">
  <div class="thankyou-page-container">
    <div class='thankyou-wrapper'>
        <div class='content-wrapper'>
          <svg width="32" height="41" viewBox="0 0 32 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.3075 15.2125L7.135 18.4075L13.75 25L25.4275 13.345L22.255 10.15L13.75 18.655M27.25 0.25H4.75C2.275 0.25 0.25 2.275 0.25 4.75V40.75L16 34L31.75 40.75V4.75C31.75 2.275 29.725 0.25 27.25 0.25ZM27.25 34L16 29.095L4.75 34V4.75H27.25V34Z" fill="black"/>
          </svg>
          <div class="heading">
            <div class='title'>{{ section.settings.title }} <div class='subtitle'>{{ section.settings.subtitle }}</div></div>
          </div>
          <div class='description'>
            {{ section.settings.description }}
          </div>
        </div>
    </div>
    <div class="order-info">
      {% for variant in order.order_variants %}
          <h2 class="variant-name">{{ variant.name }}</h2>
          <h2 class="variant-price">{{ variant.price | money }}</h2>
      {% endfor %}
    </div>
    <div class="order-details">
      <div class="table-content">
      <div class="head">
        <div class="item">
            {{ 'thankyou.details.product' | t }}
          </div>
          <div class="data-item">
            {{ order.total | money }}
          </div>
      </div>
      <div class="head">
        <div class="item">
          {{ 'thankyou.details.shipping_cost' | t }}
        </div>
        <div class="data-item">
          {{ order.shippingCost | money }}
        </div>
      </div>
      <div class="total-price-head">
        <div class="item">
          {{ 'thankyou.details.total' | t }}
        </div>
        <div class="data-item">
          {{ order.total | money }}
        </div>
      </div>
    </div>
  </div>

  <div class="home-page">
    <a
      href='/'
      class='yc-btn-back'
    >
          {{ 'thankyou.return_cta' | t }}
        </a>
  </div>
  </div>
</div>

{%- schema -%}
{
  "label": "Thank you page",
  "templates": ["thankyou"],
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle color"
    },
    {
      "type": "range",
      "id": "title_size",
      "label": "Title font size",
      "min": 14,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ]
}
{%- endschema -%}
